<lkb-view-home>
  <h1 class="view-title">NG-Lab</h1>
  <lkb-ui-button [level]=" levels.OPTIONAL" class="view-nav">Toto</lkb-ui-button>

  <lkb-ui-card cardTitle="Buttons" (open)="log($event)">
    <lkb-ui-button [lkbUiEffect]="1.1" [level]="levels.PRIMARY">BTN 1.1</lkb-ui-button>
    <lkb-ui-button [level]="levels.CRITICAL">BTN 2</lkb-ui-button>
    <lkb-ui-button [level]=" levels.OPTIONAL">BTN 3</lkb-ui-button>
  </lkb-ui-card>

</lkb-view-home>

<!--
<lkb-ui-layout layout="row">
  <lkb-ui-button [lkbUiEffect]="1.1" [level]="levels.PRIMARY">BTN 1.1</lkb-ui-button>
  <lkb-ui-button [level]="levels.CRITICAL">BTN 2</lkb-ui-button>
  <lkb-ui-button [level]=" levels.OPTIONAL">BTN 3</lkb-ui-button>
</lkb-ui-layout>

<lkb-ui-layout layout="column">
  <lkb-ui-button [lkbUiEffect]="1.1" [level]="levels.PRIMARY">BTN 1.1</lkb-ui-button>
  <lkb-ui-button [level]="levels.CRITICAL">BTN 2</lkb-ui-button>
  <lkb-ui-button [level]=" levels.OPTIONAL">BTN 3</lkb-ui-button>
</lkb-ui-layout>

<lkb-ui-card cardTitle="Buttons" (open)="log($event)">
  <lkb-ui-button [lkbUiEffect]="1.1" [level]="levels.PRIMARY">BTN 1.1</lkb-ui-button>
  <lkb-ui-button [level]="levels.CRITICAL">BTN 2</lkb-ui-button>
  <lkb-ui-button [level]=" levels.OPTIONAL">BTN 3</lkb-ui-button>
</lkb-ui-card>

<lkb-ui-header>
  <h1 class="ui-header-content">TITLE</h1>
  <button class="ui-header-nav">NAV</button>
</lkb-ui-header>

<h1>NG LAB</h1>

<div class="btn-critical">Lorem ipsum dolor sit amet consectetur adipisicing elit. Veniam, quidem?</div>

<lkb-ui-context>
  <lkb-ui-button [level]="levels.PRIMARY">BTN 1</lkb-ui-button>
</lkb-ui-context>

<lkb-ui-button [lkbUiEffect]="1.5" [level]="levels.PRIMARY">BTN 1.1</lkb-ui-button>
<lkb-ui-button [lkbUiEffect]="0.8" [level]="levels.CRITICAL">BTN 2</lkb-ui-button>
<lkb-ui-button [level]=" levels.OPTIONAL">BTN 3</lkb-ui-button>
-->
